body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    overflow: hidden;
}
canvas {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: block;
}
div#ui {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 10px;
    border: 1px solid rgb(128,128,128);
    background-color: rgba(192,192,192,0.75);
}
div#ui table {
    margin: 5px;
}
div#ui td *, div#ui th * {
    width: 100%;
}
div#win, div#lose {
    font-size: 20pt;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128,128,128,0.5);
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
div#win {
    color: rgb(128,255,128);
    filter: drop-shadow(0px 0px 25px green);
}
div#lose {
    color: rgb(255,128,128);
    filter: drop-shadow(0px 0px 25px red)
}

.map {
    display: none;
}


#status {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 36pt;
    color: white;
    transform: translate(-50%, -50%);
}